<div ng-repeat="(id,post) in blogs">
   <div class="panel panel-info">
      <div class="panel-heading">
         <h3 class="panel-title"><a href="/view/{{id}}">{{post.title}}</a></h3>
      </div>
      <div class="panel-body">
         by<label ng-repeat="author in post.authors">
            {{author}},
         </label>
         <p>{{post.content}}</p>
         <div class="panel-footer">
            <label ng-repeat="tag in post.tags">
               {{tag}}, 
            </label>
         </div>
      </div>
   </div>
</div>